{% extends "layout.html" %}
{% block content %}
    <table class="table" style="width: 1200px">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">제목</th>
          <th scope="col">표지</th>
          <th scope="col">저자</th>
          <th scope="col">가격</th>
          <th scope="col">isbn</th>
          <th scope="col">등록일자</th>
          <th scope="col">count={{ count }}</th>

        </tr>
      </thead>
      <tbody>
      {% for doc in cursor %}
          <form method="post">
        <tr>
            <td > {{ doc._id }}</td>
                <td ><a href="/book_details/{{ doc._id }}">{{ doc['title'] }}</a></td>
                <td><a href="/book_details/{{ doc._id }}">
                    {% if doc.photo != null %}
                        <img width="100px" height="50px" src = "data:image/jpg;base64, {{ doc.photo.decode('utf-8') }}">
                    {%  endif %}
                    </a></td>
                <td>{{ doc.author }}</td>
                <td>{{ doc.price }}</td>
                <td>{{ doc.isbn }}</td>
                <td>{{ doc.created_date }} </td>
                <td>
                    <input type="submit" value="수정" formaction="/book_replace">
                    <input type="submit" value="삭제" formaction="/book_list" >
                </td>
        </tr>
          <input type="hidden" name="doc_id" value="{{ doc._id }}">
          </form>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}