{% extends "layout.html" %}
{% block content %}
<!-- action 은 가는 위치 post로 보내기-->
<form action="/book_replace_result" method="post" enctype="multipart/form-data">


    <div class="form-group col col-lg-5"  >
    <label for="title">제목</label>
      <input name="title" type="text" value="{{ doc.title }}" placeholder="제목 입력" class="form-control"  aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
     <div class="form-group col col-lg-5"  >
    <label for="photo">표지</label>
         {% if doc.photo != null %}
         <img width="100px" height="50px" src = "data:image/jpg;base64, {{ doc.photo.decode('utf-8') }}">
             <input type="hidden" name="photo" value="{{ doc.photo }}">
             <input type="hidden" name="photocheck" value="1">
         {%  else %}
             <input type="hidden" name="photocheck" value="0">
         {%  endif %}
        <input type="file" name="A_photo">
    </div>
    <div class="form-group col col-lg-5"  >
    <label for="author">저자</label>
      <input name="author" type="text" value="{{ doc.author }}" class="form-control" placeholder="저자 입력" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <div class="form-group col col-lg-5"  >
    <label for="price">가격</label>
      <input name="price" type="text" value="{{ doc.price }}" class="form-control" placeholder="가격 입력" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
     <div class="form-group col col-lg-5"  >
    <label for="isbn">isbn</label>
      <input name="isbn" type="text" value="{{ doc.isbn}}" class="form-control" placeholder="isbn 입력" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <div class="form-group col col-lg-5"  >

     <button class="btn btn-outline-secondary" type="submit" id="button-addon1">수정</button>
    </div>
        <input type="hidden" name="doc_id" value="{{ doc._id }}">
        <input type="hidden" name="created_date" value="{{ doc.created_date }}">


</form>

{% endblock %}