<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr><td>나 {{ result[0] }}</td></tr>
    <tr>
        <td>
            <img src="static\images\{{ list[0] }}.jpg">
        </td>
        <td>
            <img src="static\images\{{ list[1] }}.jpg">

        </td>
    </tr>
    <tr><td>VS</td></tr>
    <tr><td>컴퓨터 {{ result[1] }}</td></tr>
    <tr>
        <td>
            <img src="static\images\{{ list[2] }}.jpg">
        </td>
        <td>
            <img src="static\images\{{ list[3] }}.jpg">
        </td>
    </tr>
</table>
    결과 {{ result[2] }}
</body>
</html>