{% extends "layout.html" %}


{% block title %}
    홈
{% endblock %}

{% block weather %}
    <img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png">
    {{ description }}
    {{ temp }}&deg;
{% endblock %}

{% block content %}
    {{  message }}
<div class="jumbotron">
  <h1 class="display-4">MongoDB 프로젝트</h1>
  <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
    <ul>
        <li>
            flask 기반의 MongoDB 관리 시스템 입니다.
        </li>
        <li>
            flask 기반의 MongoDB 관리 시스템 입니다.
        </li>
    </ul>
</div>
{% endblock %}

