{% extends "layout.html" %}
{% block content %}
    <table class="table" style="width: 2000px">
      <thead>
        <tr>
          <th scope="col">이름</th>
          <th scope="col">체력</th>
          <th scope="col">체력18</th>
          <th scope="col">마나</th>
          <th scope="col">마나18</th>
          <th scope="col">공격력</th>
          <th scope="col">공격력18</th>
          <th scope="col">5초당 체력회복</th>
          <th scope="col">5초당 체력회복18</th>
          <th scope="col">5초당 마나회복</th>
          <th scope="col">5초당 마나회복18</th>
          <th scope="col">방어력</th>
          <th scope="col">방어력18</th>
          <th scope="col">마법 저항력</th>
          <th scope="col">마법 저항력18</th>
          <th scope="col">이동 속도</th>
          <th scope="col">이동 속도18</th>
          <th scope="col">사정 거리</th>
          <th scope="col">사정 거리18</th>
          <th scope="col">count={{ count }}</th>
        </tr>
      </thead>
      <tbody>
      {% for doc in cursor %}
        <tr>
          <th scope="col">{{doc['이름']}}</th>
          <th scope="col">{{doc['체력']}}</th>
          <th scope="col">{{doc['체력18']}}</th>
          <th scope="col">{{doc['마나']}}</th>
          <th scope="col">{{doc['마나18']}}</th>
          <th scope="col">{{doc['공격력']}}</th>
          <th scope="col">{{doc['공격력18']}}</th>
          <th scope="col">{{doc['5초당 체력회복']}}</th>
          <th scope="col">{{doc['5초당 체력회복18']}}</th>
          <th scope="col">{{doc['5초당 마나회복']}}</th>
          <th scope="col">{{doc['5초당 마나회복18']}}</th>
          <th scope="col">{{doc['방어력']}}</th>
          <th scope="col">{{doc['방어력18']}}</th>
          <th scope="col">{{doc['마법 저항력']}}</th>
          <th scope="col">{{doc['마법 저항력18']}}</th>
          <th scope="col">{{doc['이동 속도']}}</th>
          <th scope="col">{{doc['이동 속도18']}}</th>
          <th scope="col">{{doc['사정 거리']}}</th>
          <th scope="col">{{doc['사정 거리18']}}</th>
        </tr>
          <input type="hidden" name="doc_id" value="{{ doc._id }}">
      {% endfor %}
      </tbody>
    </table>
{% endblock %}